@import url("https://fonts.googleapis.com/css?family=Inter:400,700");

:root {
  --black: rgba(0, 0, 0, 1);
  --blue-zodiac: rgba(25, 38, 85, 1);
  --shady-lady: rgba(170, 170, 170, 1);
  --zumthor: rgba(238, 245, 255, 1);
  --font-size-m: 12px;
  --font-size-l: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 28px;
  --font-size-xxxxl: 36px;
  --font-size-xxxxxl: 116px;
  --font-family-inter: "Inter";
}
* {
  font-family: var(--font-family-inter), sans-serif;
}
body {
  background-color: #b7c4cf;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1%;
}

.main-dashboard {
  backdrop-filter: blur(77.33px) brightness(100%);
  background-color: #eef5ff4a;
  border-top-left-radius: 20px;
  align-items: center;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 50%;
  padding: 0 2%;
}

.side-dashboard {
  backdrop-filter: blur(77.33px) brightness(100%);
  background-color: #eef5ff4a;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 20%;
  border-left: 1px solid #ababab;
  padding: 0 2%;
}

.general-info {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(25, 38, 85),
    rgba(12, 53, 106, 0.65) 100%
  );
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 3% 0;
  min-width: 90%;
  min-height: 10%;
}
.location-date,
.hpa-wind {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.location,
.hpa,
.wind {
  color: var(--zumthor);
  display: flex;
  flex-direction: row;
  font-weight: 600;
  align-items: center;
  width: 50%;
}

.wind {
  justify-content: right;
}

.bx {
  font-size: 2em;
  color: var(--zumthor);
  font-weight: 600;
  margin-left: 4%;
}
.date {
  font-weight: 300;
  line-height: normal;
  color: var(--zumthor);
  font-size: 1em;
  text-align: right;
  letter-spacing: 0;
  list-style: normal;
  align-content: center;
}
.time {
  font-weight: 800;
  text-align: center;
  font-size: 5em;
  margin: 0px;
  line-height: normal;
  color: var(--zumthor);
  padding: 3%;
}
.location-name,
.hpa-val,
.wind-val {
  margin-left: 4%;
}

.temp-humid,
.light-rain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
  margin: 2% 0;
}

.temperature,
.humidity,
.light,
.rain {
  display: flex;
  flex-direction: row;
  background-color: var(--zumthor);
  border-radius: 20px;
  cursor: pointer;
  width: 47%;
  justify-content: space-between;
}
.temperature:hover,
.humidity:hover,
.light:hover,
.rain:hover {
  background-color: white;
}

.val-field {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 4%;
}

.heading,
.val {
  color: var(--blue-zodiac);
  font-weight: 700;
  font-style: normal;
  width: fit-content;
  margin: 0;
  padding: 5%;
}

.sub-head {
  color: #ababab;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 0 5%;
  width: 100%;
}

.val {
  color: black;
}
.demonstrated-img {
  width: 30%;
  padding-right: 8%;
}

.pull-cloth-btn {
  background-color: var(--zumthor);
  border-radius: 20px;
  cursor: pointer;
  color: var(--blue-zodiac);
  border: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8%;
  margin: 7% 0;
  justify-content: center;
  align-items: center;
}

.pull-cloth-btn:hover .btn-icon {
  background-color: var(--blue-zodiac);
  color: var(--zumthor);
  transition: all 0.4s ease;
}
.pull-cloth-btn:hover {
  background-color: var(--blue-zodiac);
  color: var(--zumthor);
  transition: all 0.1s ease;
}
.btn-icon {
  font-size: 3em;
  color: var(--blue-zodiac);
}

.btn-title {
  font-weight: 800;
  text-align: right;
  font-size: 20px;
  margin-left: 12px;
}

h5 {
  width: fit-content;
  margin: 1% 0;
}

.today {
  background: linear-gradient(
    180deg,
    rgb(25, 38, 85),
    rgba(12, 53, 106, 0.65) 100%
  );
  border-radius: 12px;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.value {
  display: flex;
  flex-direction: column;
  color: var(--zumthor);
  justify-content: center;
  padding: 10%;
}
.value > p {
  margin: 0;
}
.today > img {
  width: 16%;
}
.tag-heading {
  font-size: 12px;
  font-weight: 600;
}

.forcast-temp {
  font-size: 1em;
}

.next-day {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  padding: 0 2%;
}

.date-info {
  display: flex;
  flex-direction: column;
}

.date-info-head {
  color: var(--black);
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.date-info-detail {
  color: var(--black);
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}
.next-day > img {
  padding: 0;
  width: 20%;
}

.forcast-temp-next {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.next-day:hover {
  background-color: #f5f7fa;
  border-radius: 12px;
}
