@import url("https://fonts.googleapis.com/css?family=Inter:400,700");

:root {
  --black: rgba(0, 0, 0, 1);
  --blue-zodiac: rgba(25, 38, 85, 1);
  --shady-lady: rgba(170, 170, 170, 1);
  --zumthor: rgba(238, 245, 255, 1);
  --font-size-m: 12px;
  --font-size-l: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 28px;
  --font-size-xxxxl: 36px;
  --font-size-xxxxxl: 116px;
  --font-family-inter: "Inter";
}
* {
  font-family: var(--font-family-inter), sans-serif;
}
body {
  background-color: #b7c4cf;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1%;
}
.dashboard {
  background-color: #b7c4cf;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1%;
}

.main-dashboard {
  backdrop-filter: blur(77.33px) brightness(100%);
  background-color: #eef5ff4a;
  border-top-left-radius: 20px;
  align-items: center;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 50%;
  padding: 0 2%;
  /* overflow-y: scroll; */
}

h5 {
  width: fit-content;
  margin: 1% 0;
}

.side-dashboard {
  backdrop-filter: blur(77.33px) brightness(100%);
  background-color: #eef5ff4a;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 20%;
  border-left: 1px solid #ababab;
  padding: 0 2%;
}

.signout-btn {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.slider {
  display: flex;
  flex-direction: row;
}
