* {
  font-family: var(--font-family-inter), sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgb(25, 38, 85) 0%,
    rgba(12, 53, 106, 0.65) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh; /* Set a minimum height of 100% of the viewport height */
  margin: 0; /* Remove default margin */
  font-family: --font-family-inter, sans-serif;
}
